*, *::after, *::before {
  box-sizing: border-box;
}
body {
  background-color: rgb(var(--body--background-color));
  color: rgb(var(--body--color));
  font-family: var(--body--font-family);
  font-size: var(--body--font-size);
  font-weight: var(--body--font-weight);
  line-height: var(--body--line-height);
  margin: 0;
  -webkit-text-size-adjust: 100%;
}
