:root {
  --body--background-color: 255, 255, 255;
  --body--font-family: system-ui, -apple-system, Segoe UI, Helvetica Neue, sans-serif;
  --body--font-size: 1rem;
  --body--font-weight: 400;
  --body--line-height: 1.25;
  --color: 0, 0, 0;
  --color-alpha: 1;
  --h1--font-size: 2.75rem;
  --h2--font-size: 2.25rem;
  --h3--font-size: 1.75rem;
  --h4--font-size: 1.5rem;
  --h5--font-size: 1.25rem;
  --h6--font-size: 1rem;
  --heading--font-family: var(--body--font-family);
  --heading--font-weight: 500;
  --heading--line-height: var(--body--line-height);
  --space: 1rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  color: rgba(var(--color), var(--color-alpha));
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: var(--body--font-family);
  font-size: var(--body--font-size);
  font-weight: var(--body--font-weight);
  line-height: var(--body--line-height);
  margin: 0;
}
.color-alpha_0 {
  --color-alpha: 0;
}
.color-alpha_25 {
  --color-alpha: 0.25;
}
.color-alpha_50 {
  --color-alpha: 0.5;
}
.color-alpha_75 {
  --color-alpha: 0.75;
}
.color-alpha_100 {
  --color-alpha: 1;
}
.flex {
  display: flex !important;
}
.align-items-\# {
  align-items: center !important;
}
.align-items-baseline {
  align-items: baseline !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.flex-direction-column {
  flex-direction: column !important;
}
.flex-direction-column-reverse {
  flex-direction: column-reverse !important;
}
.flex-direction-row {
  flex-direction: row !important;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-wrap-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap-wrap {
  flex-wrap: wrap !important;
}
.flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.inline-flex {
  display: inline-flex !important;
}
.justify-content-\# {
  justify-content: center !important;
}
.justify-content-baseline {
  justify-content: baseline !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}
@media (min-width: 40rem) {
  .\#flex {
    display: flex !important;
  }
  .\#align-items-\# {
    align-items: center !important;
  }
  .\#align-items-baseline {
    align-items: baseline !important;
  }
  .\#align-items-end {
    align-items: flex-end !important;
  }
  .\#align-items-start {
    align-items: flex-start !important;
  }
  .\#flex-direction-column {
    flex-direction: column !important;
  }
  .\#flex-direction-column-reverse {
    flex-direction: column-reverse !important;
  }
  .\#flex-direction-row {
    flex-direction: row !important;
  }
  .\#flex-direction-row-reverse {
    flex-direction: row-reverse !important;
  }
  .\#flex-wrap-nowrap {
    flex-wrap: nowrap !important;
  }
  .\#flex-wrap-wrap {
    flex-wrap: wrap !important;
  }
  .\#flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .\#inline-flex {
    display: inline-flex !important;
  }
  .\#justify-content-\# {
    justify-content: center !important;
  }
  .\#justify-content-baseline {
    justify-content: baseline !important;
  }
  .\#justify-content-end {
    justify-content: flex-end !important;
  }
  .\#justify-content-start {
    justify-content: flex-start !important;
  }
}
@media (min-width: 64rem) {
  .\#\#flex {
    display: flex !important;
  }
  .\#\#align-items-\# {
    align-items: center !important;
  }
  .\#\#align-items-baseline {
    align-items: baseline !important;
  }
  .\#\#align-items-end {
    align-items: flex-end !important;
  }
  .\#\#align-items-start {
    align-items: flex-start !important;
  }
  .\#\#flex-direction-column {
    flex-direction: column !important;
  }
  .\#\#flex-direction-column-reverse {
    flex-direction: column-reverse !important;
  }
  .\#\#flex-direction-row {
    flex-direction: row !important;
  }
  .\#\#flex-direction-row-reverse {
    flex-direction: row-reverse !important;
  }
  .\#\#flex-wrap-nowrap {
    flex-wrap: nowrap !important;
  }
  .\#\#flex-wrap-wrap {
    flex-wrap: wrap !important;
  }
  .\#\#flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .\#\#inline-flex {
    display: inline-flex !important;
  }
  .\#\#justify-content-\# {
    justify-content: center !important;
  }
  .\#\#justify-content-baseline {
    justify-content: baseline !important;
  }
  .\#\#justify-content-end {
    justify-content: flex-end !important;
  }
  .\#\#justify-content-start {
    justify-content: flex-start !important;
  }
}
.column {
  flex: 1 0 0%;
}
.column_offset_0 {
  margin-left: 0;
}
.column_offset_1 {
  margin-left: 8.333333%;
}
.column_offset_2 {
  margin-left: 16.666667%;
}
.column_offset_3 {
  margin-left: 25.000000%;
}
.column_offset_4 {
  margin-left: 33.333333%;
}
.column_offset_5 {
  margin-left: 41.666667%;
}
.column_offset_6 {
  margin-left: 50.000000%;
}
.column_offset_7 {
  margin-left: 58.333333%;
}
.column_offset_8 {
  margin-left: 66.666667%;
}
.column_offset_9 {
  margin-left: 75.000000%;
}
.column_offset_10 {
  margin-left: 83.333333%;
}
.column_offset_11 {
  margin-left: 91.666667%;
}
@media (min-width: 40rem) {
  .\#column_offset_0 {
    margin-left: 0;
  }
  .\#column_offset_1 {
    margin-left: 8.333333%;
  }
  .\#column_offset_2 {
    margin-left: 16.666667%;
  }
  .\#column_offset_3 {
    margin-left: 25.000000%;
  }
  .\#column_offset_4 {
    margin-left: 33.333333%;
  }
  .\#column_offset_5 {
    margin-left: 41.666667%;
  }
  .\#column_offset_6 {
    margin-left: 50.000000%;
  }
  .\#column_offset_7 {
    margin-left: 58.333333%;
  }
  .\#column_offset_8 {
    margin-left: 66.666667%;
  }
  .\#column_offset_9 {
    margin-left: 75.000000%;
  }
  .\#column_offset_10 {
    margin-left: 83.333333%;
  }
  .\#column_offset_11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 64rem) {
  .\#\#column_offset_0 {
    margin-left: 0;
  }
  .\#\#column_offset_1 {
    margin-left: 8.333333%;
  }
  .\#\#column_offset_2 {
    margin-left: 16.666667%;
  }
  .\#\#column_offset_3 {
    margin-left: 25.000000%;
  }
  .\#\#column_offset_4 {
    margin-left: 33.333333%;
  }
  .\#\#column_offset_5 {
    margin-left: 41.666667%;
  }
  .\#\#column_offset_6 {
    margin-left: 50.000000%;
  }
  .\#\#column_offset_7 {
    margin-left: 58.333333%;
  }
  .\#\#column_offset_8 {
    margin-left: 66.666667%;
  }
  .\#\#column_offset_9 {
    margin-left: 75.000000%;
  }
  .\#\#column_offset_10 {
    margin-left: 83.333333%;
  }
  .\#\#column_offset_11 {
    margin-left: 91.666667%;
  }
}
.column_size_\# {
  flex: 1 0 0%;
}
.column_size_1 {
  flex: 0 0 auto;
  width: 8.333333%;
}
.column_size_2 {
  flex: 0 0 auto;
  width: 16.666667%;
}
.column_size_3 {
  flex: 0 0 auto;
  width: 25.000000%;
}
.column_size_4 {
  flex: 0 0 auto;
  width: 33.333333%;
}
.column_size_5 {
  flex: 0 0 auto;
  width: 41.666667%;
}
.column_size_6 {
  flex: 0 0 auto;
  width: 50.000000%;
}
.column_size_7 {
  flex: 0 0 auto;
  width: 58.333333%;
}
.column_size_8 {
  flex: 0 0 auto;
  width: 66.666667%;
}
.column_size_9 {
  flex: 0 0 auto;
  width: 75.000000%;
}
.column_size_10 {
  flex: 0 0 auto;
  width: 83.333333%;
}
.column_size_11 {
  flex: 0 0 auto;
  width: 91.666667%;
}
.column_size_12 {
  flex: 0 0 auto;
  width: 100.000000%;
}
.column_size_width {
  flex: 0 0 auto;
  width: auto;
}
@media (min-width: 40rem) {
  .\#column_size_\# {
    flex: 1 0 0%;
  }
  .\#column_size_1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .\#column_size_2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .\#column_size_3 {
    flex: 0 0 auto;
    width: 25.000000%;
  }
  .\#column_size_4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .\#column_size_5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .\#column_size_6 {
    flex: 0 0 auto;
    width: 50.000000%;
  }
  .\#column_size_7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .\#column_size_8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .\#column_size_9 {
    flex: 0 0 auto;
    width: 75.000000%;
  }
  .\#column_size_10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .\#column_size_11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .\#column_size_12 {
    flex: 0 0 auto;
    width: 100.000000%;
  }
  .\#column_size_width {
    flex: 0 0 auto;
    width: auto;
  }
}
@media (min-width: 64rem) {
  .\#\#column_size_\# {
    flex: 1 0 0%;
  }
  .\#\#column_size_1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
  .\#\#column_size_2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  .\#\#column_size_3 {
    flex: 0 0 auto;
    width: 25.000000%;
  }
  .\#\#column_size_4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .\#\#column_size_5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .\#\#column_size_6 {
    flex: 0 0 auto;
    width: 50.000000%;
  }
  .\#\#column_size_7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .\#\#column_size_8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .\#\#column_size_9 {
    flex: 0 0 auto;
    width: 75.000000%;
  }
  .\#\#column_size_10 {
    flex: 0 0 auto;
    width: 83.333333%;
  }
  .\#\#column_size_11 {
    flex: 0 0 auto;
    width: 91.666667%;
  }
  .\#\#column_size_12 {
    flex: 0 0 auto;
    width: 100.000000%;
  }
  .\#\#column_size_width {
    flex: 0 0 auto;
    width: auto;
  }
}
.container {
  max-width: 75rem;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
.none {
  display: none !important;
}
@media (min-width: 40rem) {
  .\#block {
    display: block !important;
  }
  .\#inline-block {
    display: inline-block !important;
  }
  .\#none {
    display: none !important;
  }
}
@media (min-width: 64rem) {
  .\#\#block {
    display: block !important;
  }
  .\#\#inline-block {
    display: inline-block !important;
  }
  .\#\#none {
    display: none !important;
  }
}
.absolute {
  position: absolute !important;
}
.bottom {
  bottom: 0 !important;
}
.left {
  left: 0 !important;
}
.relative {
  position: relative !important;
}
.right {
  right: 0 !important;
}
.top {
  top: 0 !important;
}
@media (min-width: 40rem) {
  .\#absolute {
    position: absolute !important;
  }
  .\#bottom {
    bottom: 0 !important;
  }
  .\#left {
    left: 0 !important;
  }
  .\#relative {
    position: relative !important;
  }
  .\#right {
    right: 0 !important;
  }
  .\#top {
    top: 0 !important;
  }
}
@media (min-width: 64rem) {
  .\#\#absolute {
    position: absolute !important;
  }
  .\#\#bottom {
    bottom: 0 !important;
  }
  .\#\#left {
    left: 0 !important;
  }
  .\#\#relative {
    position: relative !important;
  }
  .\#\#right {
    right: 0 !important;
  }
  .\#\#top {
    top: 0 !important;
  }
}
.border {
  --border--border-color: var(--color);
  --border--border-width: 0.125rem;
  border: var(--border--border-width) solid rgba(var(--border--border-color), 0.25) !important;
}
.m-0 {
  margin: 0 !important;
}
.m-b-0,
.m-y-0 {
  margin-bottom: 0 !important;
}
.m-l-0,
.m-x-0 {
  margin-left: 0 !important;
}
.m-r-0,
.m-x-0 {
  margin-right: 0 !important;
}
.m-t-0,
.m-y-0 {
  margin-top: 0 !important;
}
.m-1 {
  margin: calc(var(--space) * 0.25) !important;
}
.m-b-1,
.m-y-1 {
  margin-bottom: calc(var(--space) * 0.25) !important;
}
.m-l-1,
.m-x-1 {
  margin-left: calc(var(--space) * 0.25) !important;
}
.m-r-1,
.m-x-1 {
  margin-right: calc(var(--space) * 0.25) !important;
}
.m-t-1,
.m-y-1 {
  margin-top: calc(var(--space) * 0.25) !important;
}
.m-2 {
  margin: calc(var(--space) * 0.5) !important;
}
.m-b-2,
.m-y-2 {
  margin-bottom: calc(var(--space) * 0.5) !important;
}
.m-l-2,
.m-x-2 {
  margin-left: calc(var(--space) * 0.5) !important;
}
.m-r-2,
.m-x-2 {
  margin-right: calc(var(--space) * 0.5) !important;
}
.m-t-2,
.m-y-2 {
  margin-top: calc(var(--space) * 0.5) !important;
}
.m-3 {
  margin: calc(var(--space) * 0.75) !important;
}
.m-b-3,
.m-y-3 {
  margin-bottom: calc(var(--space) * 0.75) !important;
}
.m-l-3,
.m-x-3 {
  margin-left: calc(var(--space) * 0.75) !important;
}
.m-r-3,
.m-x-3 {
  margin-right: calc(var(--space) * 0.75) !important;
}
.m-t-3,
.m-y-3 {
  margin-top: calc(var(--space) * 0.75) !important;
}
.m-4 {
  margin: calc(var(--space) * 1) !important;
}
.m-b-4,
.m-y-4 {
  margin-bottom: calc(var(--space) * 1) !important;
}
.m-l-4,
.m-x-4 {
  margin-left: calc(var(--space) * 1) !important;
}
.m-r-4,
.m-x-4 {
  margin-right: calc(var(--space) * 1) !important;
}
.m-t-4,
.m-y-4 {
  margin-top: calc(var(--space) * 1) !important;
}
.m-5 {
  margin: calc(var(--space) * 1.25) !important;
}
.m-b-5,
.m-y-5 {
  margin-bottom: calc(var(--space) * 1.25) !important;
}
.m-l-5,
.m-x-5 {
  margin-left: calc(var(--space) * 1.25) !important;
}
.m-r-5,
.m-x-5 {
  margin-right: calc(var(--space) * 1.25) !important;
}
.m-t-5,
.m-y-5 {
  margin-top: calc(var(--space) * 1.25) !important;
}
.m-6 {
  margin: calc(var(--space) * 1.5) !important;
}
.m-b-6,
.m-y-6 {
  margin-bottom: calc(var(--space) * 1.5) !important;
}
.m-l-6,
.m-x-6 {
  margin-left: calc(var(--space) * 1.5) !important;
}
.m-r-6,
.m-x-6 {
  margin-right: calc(var(--space) * 1.5) !important;
}
.m-t-6,
.m-y-6 {
  margin-top: calc(var(--space) * 1.5) !important;
}
.m-7 {
  margin: calc(var(--space) * 1.75) !important;
}
.m-b-7,
.m-y-7 {
  margin-bottom: calc(var(--space) * 1.75) !important;
}
.m-l-7,
.m-x-7 {
  margin-left: calc(var(--space) * 1.75) !important;
}
.m-r-7,
.m-x-7 {
  margin-right: calc(var(--space) * 1.75) !important;
}
.m-t-7,
.m-y-7 {
  margin-top: calc(var(--space) * 1.75) !important;
}
.m-8 {
  margin: calc(var(--space) * 2) !important;
}
.m-b-8,
.m-y-8 {
  margin-bottom: calc(var(--space) * 2) !important;
}
.m-l-8,
.m-x-8 {
  margin-left: calc(var(--space) * 2) !important;
}
.m-r-8,
.m-x-8 {
  margin-right: calc(var(--space) * 2) !important;
}
.m-t-8,
.m-y-8 {
  margin-top: calc(var(--space) * 2) !important;
}
.m-16 {
  margin: calc(var(--space) * 4) !important;
}
.m-b-16,
.m-y-16 {
  margin-bottom: calc(var(--space) * 4) !important;
}
.m-l-16,
.m-x-16 {
  margin-left: calc(var(--space) * 4) !important;
}
.m-r-16,
.m-x-16 {
  margin-right: calc(var(--space) * 4) !important;
}
.m-t-16,
.m-y-16 {
  margin-top: calc(var(--space) * 4) !important;
}
.p-0 {
  padding: 0 !important;
}
.p-b-0,
.p-y-0 {
  padding-bottom: 0 !important;
}
.p-l-0,
.p-x-0 {
  padding-left: 0 !important;
}
.p-r-0,
.p-x-0 {
  padding-right: 0 !important;
}
.p-t-0,
.p-y-0 {
  padding-top: 0 !important;
}
.p-1 {
  padding: calc(var(--space) * 0.25) !important;
}
.p-b-1,
.p-y-1 {
  padding-bottom: calc(var(--space) * 0.25) !important;
}
.p-l-1,
.p-x-1 {
  padding-left: calc(var(--space) * 0.25) !important;
}
.p-r-1,
.p-x-1 {
  padding-right: calc(var(--space) * 0.25) !important;
}
.p-t-1,
.p-y-1 {
  padding-top: calc(var(--space) * 0.25) !important;
}
.p-2 {
  padding: calc(var(--space) * 0.5) !important;
}
.p-b-2,
.p-y-2 {
  padding-bottom: calc(var(--space) * 0.5) !important;
}
.p-l-2,
.p-x-2 {
  padding-left: calc(var(--space) * 0.5) !important;
}
.p-r-2,
.p-x-2 {
  padding-right: calc(var(--space) * 0.5) !important;
}
.p-t-2,
.p-y-2 {
  padding-top: calc(var(--space) * 0.5) !important;
}
.p-3 {
  padding: calc(var(--space) * 0.75) !important;
}
.p-b-3,
.p-y-3 {
  padding-bottom: calc(var(--space) * 0.75) !important;
}
.p-l-3,
.p-x-3 {
  padding-left: calc(var(--space) * 0.75) !important;
}
.p-r-3,
.p-x-3 {
  padding-right: calc(var(--space) * 0.75) !important;
}
.p-t-3,
.p-y-3 {
  padding-top: calc(var(--space) * 0.75) !important;
}
.p-4 {
  padding: calc(var(--space) * 1) !important;
}
.p-b-4,
.p-y-4 {
  padding-bottom: calc(var(--space) * 1) !important;
}
.p-l-4,
.p-x-4 {
  padding-left: calc(var(--space) * 1) !important;
}
.p-r-4,
.p-x-4 {
  padding-right: calc(var(--space) * 1) !important;
}
.p-t-4,
.p-y-4 {
  padding-top: calc(var(--space) * 1) !important;
}
.p-5 {
  padding: calc(var(--space) * 1.25) !important;
}
.p-b-5,
.p-y-5 {
  padding-bottom: calc(var(--space) * 1.25) !important;
}
.p-l-5,
.p-x-5 {
  padding-left: calc(var(--space) * 1.25) !important;
}
.p-r-5,
.p-x-5 {
  padding-right: calc(var(--space) * 1.25) !important;
}
.p-t-5,
.p-y-5 {
  padding-top: calc(var(--space) * 1.25) !important;
}
.p-6 {
  padding: calc(var(--space) * 1.5) !important;
}
.p-b-6,
.p-y-6 {
  padding-bottom: calc(var(--space) * 1.5) !important;
}
.p-l-6,
.p-x-6 {
  padding-left: calc(var(--space) * 1.5) !important;
}
.p-r-6,
.p-x-6 {
  padding-right: calc(var(--space) * 1.5) !important;
}
.p-t-6,
.p-y-6 {
  padding-top: calc(var(--space) * 1.5) !important;
}
.p-7 {
  padding: calc(var(--space) * 1.75) !important;
}
.p-b-7,
.p-y-7 {
  padding-bottom: calc(var(--space) * 1.75) !important;
}
.p-l-7,
.p-x-7 {
  padding-left: calc(var(--space) * 1.75) !important;
}
.p-r-7,
.p-x-7 {
  padding-right: calc(var(--space) * 1.75) !important;
}
.p-t-7,
.p-y-7 {
  padding-top: calc(var(--space) * 1.75) !important;
}
.p-8 {
  padding: calc(var(--space) * 2) !important;
}
.p-b-8,
.p-y-8 {
  padding-bottom: calc(var(--space) * 2) !important;
}
.p-l-8,
.p-x-8 {
  padding-left: calc(var(--space) * 2) !important;
}
.p-r-8,
.p-x-8 {
  padding-right: calc(var(--space) * 2) !important;
}
.p-t-8,
.p-y-8 {
  padding-top: calc(var(--space) * 2) !important;
}
.p-16 {
  padding: calc(var(--space) * 4) !important;
}
.p-b-16,
.p-y-16 {
  padding-bottom: calc(var(--space) * 4) !important;
}
.p-l-16,
.p-x-16 {
  padding-left: calc(var(--space) * 4) !important;
}
.p-r-16,
.p-x-16 {
  padding-right: calc(var(--space) * 4) !important;
}
.p-t-16,
.p-y-16 {
  padding-top: calc(var(--space) * 4) !important;
}
.m-\!1 {
  margin: calc(calc(var(--space) * 0.25) * -1) !important;
}
.m-b-\!1,
.m-y-\!1 {
  margin-bottom: calc(calc(var(--space) * 0.25) * -1) !important;
}
.m-l-\!1,
.m-x-\!1 {
  margin-left: calc(calc(var(--space) * 0.25) * -1) !important;
}
.m-r-\!1,
.m-x-\!1 {
  margin-right: calc(calc(var(--space) * 0.25) * -1) !important;
}
.m-t-\!1,
.m-y-\!1 {
  margin-top: calc(calc(var(--space) * 0.25) * -1) !important;
}
.m-\!2 {
  margin: calc(calc(var(--space) * 0.5) * -1) !important;
}
.m-b-\!2,
.m-y-\!2 {
  margin-bottom: calc(calc(var(--space) * 0.5) * -1) !important;
}
.m-l-\!2,
.m-x-\!2 {
  margin-left: calc(calc(var(--space) * 0.5) * -1) !important;
}
.m-r-\!2,
.m-x-\!2 {
  margin-right: calc(calc(var(--space) * 0.5) * -1) !important;
}
.m-t-\!2,
.m-y-\!2 {
  margin-top: calc(calc(var(--space) * 0.5) * -1) !important;
}
.m-\!3 {
  margin: calc(calc(var(--space) * 0.75) * -1) !important;
}
.m-b-\!3,
.m-y-\!3 {
  margin-bottom: calc(calc(var(--space) * 0.75) * -1) !important;
}
.m-l-\!3,
.m-x-\!3 {
  margin-left: calc(calc(var(--space) * 0.75) * -1) !important;
}
.m-r-\!3,
.m-x-\!3 {
  margin-right: calc(calc(var(--space) * 0.75) * -1) !important;
}
.m-t-\!3,
.m-y-\!3 {
  margin-top: calc(calc(var(--space) * 0.75) * -1) !important;
}
.m-\!4 {
  margin: calc(calc(var(--space) * 1) * -1) !important;
}
.m-b-\!4,
.m-y-\!4 {
  margin-bottom: calc(calc(var(--space) * 1) * -1) !important;
}
.m-l-\!4,
.m-x-\!4 {
  margin-left: calc(calc(var(--space) * 1) * -1) !important;
}
.m-r-\!4,
.m-x-\!4 {
  margin-right: calc(calc(var(--space) * 1) * -1) !important;
}
.m-t-\!4,
.m-y-\!4 {
  margin-top: calc(calc(var(--space) * 1) * -1) !important;
}
.m-\!5 {
  margin: calc(calc(var(--space) * 1.25) * -1) !important;
}
.m-b-\!5,
.m-y-\!5 {
  margin-bottom: calc(calc(var(--space) * 1.25) * -1) !important;
}
.m-l-\!5,
.m-x-\!5 {
  margin-left: calc(calc(var(--space) * 1.25) * -1) !important;
}
.m-r-\!5,
.m-x-\!5 {
  margin-right: calc(calc(var(--space) * 1.25) * -1) !important;
}
.m-t-\!5,
.m-y-\!5 {
  margin-top: calc(calc(var(--space) * 1.25) * -1) !important;
}
.m-\!6 {
  margin: calc(calc(var(--space) * 1.5) * -1) !important;
}
.m-b-\!6,
.m-y-\!6 {
  margin-bottom: calc(calc(var(--space) * 1.5) * -1) !important;
}
.m-l-\!6,
.m-x-\!6 {
  margin-left: calc(calc(var(--space) * 1.5) * -1) !important;
}
.m-r-\!6,
.m-x-\!6 {
  margin-right: calc(calc(var(--space) * 1.5) * -1) !important;
}
.m-t-\!6,
.m-y-\!6 {
  margin-top: calc(calc(var(--space) * 1.5) * -1) !important;
}
.m-\!7 {
  margin: calc(calc(var(--space) * 1.75) * -1) !important;
}
.m-b-\!7,
.m-y-\!7 {
  margin-bottom: calc(calc(var(--space) * 1.75) * -1) !important;
}
.m-l-\!7,
.m-x-\!7 {
  margin-left: calc(calc(var(--space) * 1.75) * -1) !important;
}
.m-r-\!7,
.m-x-\!7 {
  margin-right: calc(calc(var(--space) * 1.75) * -1) !important;
}
.m-t-\!7,
.m-y-\!7 {
  margin-top: calc(calc(var(--space) * 1.75) * -1) !important;
}
.m-\!8 {
  margin: calc(calc(var(--space) * 2) * -1) !important;
}
.m-b-\!8,
.m-y-\!8 {
  margin-bottom: calc(calc(var(--space) * 2) * -1) !important;
}
.m-l-\!8,
.m-x-\!8 {
  margin-left: calc(calc(var(--space) * 2) * -1) !important;
}
.m-r-\!8,
.m-x-\!8 {
  margin-right: calc(calc(var(--space) * 2) * -1) !important;
}
.m-t-\!8,
.m-y-\!8 {
  margin-top: calc(calc(var(--space) * 2) * -1) !important;
}
.m-\!16 {
  margin: calc(calc(var(--space) * 4) * -1) !important;
}
.m-b-\!16,
.m-y-\!16 {
  margin-bottom: calc(calc(var(--space) * 4) * -1) !important;
}
.m-l-\!16,
.m-x-\!16 {
  margin-left: calc(calc(var(--space) * 4) * -1) !important;
}
.m-r-\!16,
.m-x-\!16 {
  margin-right: calc(calc(var(--space) * 4) * -1) !important;
}
.m-t-\!16,
.m-y-\!16 {
  margin-top: calc(calc(var(--space) * 4) * -1) !important;
}
.m-\# {
  margin: auto !important;
}
.m-b-\#,
.m-y-\# {
  margin-bottom: auto !important;
}
.m-l-\#,
.m-x-\# {
  margin-left: auto !important;
}
.m-r-\#,
.m-x-\# {
  margin-right: auto !important;
}
.m-t-\#,
.m-y-\# {
  margin-top: auto !important;
}
@media (min-width: 40rem) {
  .\#m-0 {
    margin: 0 !important;
  }
  .\#m-b-0,
  .\#m-y-0 {
    margin-bottom: 0 !important;
  }
  .\#m-l-0,
  .\#m-x-0 {
    margin-left: 0 !important;
  }
  .\#m-r-0,
  .\#m-x-0 {
    margin-right: 0 !important;
  }
  .\#m-t-0,
  .\#m-y-0 {
    margin-top: 0 !important;
  }
  .\#m-1 {
    margin: calc(var(--space) * 0.25) !important;
  }
  .\#m-b-1,
  .\#m-y-1 {
    margin-bottom: calc(var(--space) * 0.25) !important;
  }
  .\#m-l-1,
  .\#m-x-1 {
    margin-left: calc(var(--space) * 0.25) !important;
  }
  .\#m-r-1,
  .\#m-x-1 {
    margin-right: calc(var(--space) * 0.25) !important;
  }
  .\#m-t-1,
  .\#m-y-1 {
    margin-top: calc(var(--space) * 0.25) !important;
  }
  .\#m-2 {
    margin: calc(var(--space) * 0.5) !important;
  }
  .\#m-b-2,
  .\#m-y-2 {
    margin-bottom: calc(var(--space) * 0.5) !important;
  }
  .\#m-l-2,
  .\#m-x-2 {
    margin-left: calc(var(--space) * 0.5) !important;
  }
  .\#m-r-2,
  .\#m-x-2 {
    margin-right: calc(var(--space) * 0.5) !important;
  }
  .\#m-t-2,
  .\#m-y-2 {
    margin-top: calc(var(--space) * 0.5) !important;
  }
  .\#m-3 {
    margin: calc(var(--space) * 0.75) !important;
  }
  .\#m-b-3,
  .\#m-y-3 {
    margin-bottom: calc(var(--space) * 0.75) !important;
  }
  .\#m-l-3,
  .\#m-x-3 {
    margin-left: calc(var(--space) * 0.75) !important;
  }
  .\#m-r-3,
  .\#m-x-3 {
    margin-right: calc(var(--space) * 0.75) !important;
  }
  .\#m-t-3,
  .\#m-y-3 {
    margin-top: calc(var(--space) * 0.75) !important;
  }
  .\#m-4 {
    margin: calc(var(--space) * 1) !important;
  }
  .\#m-b-4,
  .\#m-y-4 {
    margin-bottom: calc(var(--space) * 1) !important;
  }
  .\#m-l-4,
  .\#m-x-4 {
    margin-left: calc(var(--space) * 1) !important;
  }
  .\#m-r-4,
  .\#m-x-4 {
    margin-right: calc(var(--space) * 1) !important;
  }
  .\#m-t-4,
  .\#m-y-4 {
    margin-top: calc(var(--space) * 1) !important;
  }
  .\#m-5 {
    margin: calc(var(--space) * 1.25) !important;
  }
  .\#m-b-5,
  .\#m-y-5 {
    margin-bottom: calc(var(--space) * 1.25) !important;
  }
  .\#m-l-5,
  .\#m-x-5 {
    margin-left: calc(var(--space) * 1.25) !important;
  }
  .\#m-r-5,
  .\#m-x-5 {
    margin-right: calc(var(--space) * 1.25) !important;
  }
  .\#m-t-5,
  .\#m-y-5 {
    margin-top: calc(var(--space) * 1.25) !important;
  }
  .\#m-6 {
    margin: calc(var(--space) * 1.5) !important;
  }
  .\#m-b-6,
  .\#m-y-6 {
    margin-bottom: calc(var(--space) * 1.5) !important;
  }
  .\#m-l-6,
  .\#m-x-6 {
    margin-left: calc(var(--space) * 1.5) !important;
  }
  .\#m-r-6,
  .\#m-x-6 {
    margin-right: calc(var(--space) * 1.5) !important;
  }
  .\#m-t-6,
  .\#m-y-6 {
    margin-top: calc(var(--space) * 1.5) !important;
  }
  .\#m-7 {
    margin: calc(var(--space) * 1.75) !important;
  }
  .\#m-b-7,
  .\#m-y-7 {
    margin-bottom: calc(var(--space) * 1.75) !important;
  }
  .\#m-l-7,
  .\#m-x-7 {
    margin-left: calc(var(--space) * 1.75) !important;
  }
  .\#m-r-7,
  .\#m-x-7 {
    margin-right: calc(var(--space) * 1.75) !important;
  }
  .\#m-t-7,
  .\#m-y-7 {
    margin-top: calc(var(--space) * 1.75) !important;
  }
  .\#m-8 {
    margin: calc(var(--space) * 2) !important;
  }
  .\#m-b-8,
  .\#m-y-8 {
    margin-bottom: calc(var(--space) * 2) !important;
  }
  .\#m-l-8,
  .\#m-x-8 {
    margin-left: calc(var(--space) * 2) !important;
  }
  .\#m-r-8,
  .\#m-x-8 {
    margin-right: calc(var(--space) * 2) !important;
  }
  .\#m-t-8,
  .\#m-y-8 {
    margin-top: calc(var(--space) * 2) !important;
  }
  .\#m-16 {
    margin: calc(var(--space) * 4) !important;
  }
  .\#m-b-16,
  .\#m-y-16 {
    margin-bottom: calc(var(--space) * 4) !important;
  }
  .\#m-l-16,
  .\#m-x-16 {
    margin-left: calc(var(--space) * 4) !important;
  }
  .\#m-r-16,
  .\#m-x-16 {
    margin-right: calc(var(--space) * 4) !important;
  }
  .\#m-t-16,
  .\#m-y-16 {
    margin-top: calc(var(--space) * 4) !important;
  }
  .\#p-0 {
    padding: 0 !important;
  }
  .\#p-b-0,
  .\#p-y-0 {
    padding-bottom: 0 !important;
  }
  .\#p-l-0,
  .\#p-x-0 {
    padding-left: 0 !important;
  }
  .\#p-r-0,
  .\#p-x-0 {
    padding-right: 0 !important;
  }
  .\#p-t-0,
  .\#p-y-0 {
    padding-top: 0 !important;
  }
  .\#p-1 {
    padding: calc(var(--space) * 0.25) !important;
  }
  .\#p-b-1,
  .\#p-y-1 {
    padding-bottom: calc(var(--space) * 0.25) !important;
  }
  .\#p-l-1,
  .\#p-x-1 {
    padding-left: calc(var(--space) * 0.25) !important;
  }
  .\#p-r-1,
  .\#p-x-1 {
    padding-right: calc(var(--space) * 0.25) !important;
  }
  .\#p-t-1,
  .\#p-y-1 {
    padding-top: calc(var(--space) * 0.25) !important;
  }
  .\#p-2 {
    padding: calc(var(--space) * 0.5) !important;
  }
  .\#p-b-2,
  .\#p-y-2 {
    padding-bottom: calc(var(--space) * 0.5) !important;
  }
  .\#p-l-2,
  .\#p-x-2 {
    padding-left: calc(var(--space) * 0.5) !important;
  }
  .\#p-r-2,
  .\#p-x-2 {
    padding-right: calc(var(--space) * 0.5) !important;
  }
  .\#p-t-2,
  .\#p-y-2 {
    padding-top: calc(var(--space) * 0.5) !important;
  }
  .\#p-3 {
    padding: calc(var(--space) * 0.75) !important;
  }
  .\#p-b-3,
  .\#p-y-3 {
    padding-bottom: calc(var(--space) * 0.75) !important;
  }
  .\#p-l-3,
  .\#p-x-3 {
    padding-left: calc(var(--space) * 0.75) !important;
  }
  .\#p-r-3,
  .\#p-x-3 {
    padding-right: calc(var(--space) * 0.75) !important;
  }
  .\#p-t-3,
  .\#p-y-3 {
    padding-top: calc(var(--space) * 0.75) !important;
  }
  .\#p-4 {
    padding: calc(var(--space) * 1) !important;
  }
  .\#p-b-4,
  .\#p-y-4 {
    padding-bottom: calc(var(--space) * 1) !important;
  }
  .\#p-l-4,
  .\#p-x-4 {
    padding-left: calc(var(--space) * 1) !important;
  }
  .\#p-r-4,
  .\#p-x-4 {
    padding-right: calc(var(--space) * 1) !important;
  }
  .\#p-t-4,
  .\#p-y-4 {
    padding-top: calc(var(--space) * 1) !important;
  }
  .\#p-5 {
    padding: calc(var(--space) * 1.25) !important;
  }
  .\#p-b-5,
  .\#p-y-5 {
    padding-bottom: calc(var(--space) * 1.25) !important;
  }
  .\#p-l-5,
  .\#p-x-5 {
    padding-left: calc(var(--space) * 1.25) !important;
  }
  .\#p-r-5,
  .\#p-x-5 {
    padding-right: calc(var(--space) * 1.25) !important;
  }
  .\#p-t-5,
  .\#p-y-5 {
    padding-top: calc(var(--space) * 1.25) !important;
  }
  .\#p-6 {
    padding: calc(var(--space) * 1.5) !important;
  }
  .\#p-b-6,
  .\#p-y-6 {
    padding-bottom: calc(var(--space) * 1.5) !important;
  }
  .\#p-l-6,
  .\#p-x-6 {
    padding-left: calc(var(--space) * 1.5) !important;
  }
  .\#p-r-6,
  .\#p-x-6 {
    padding-right: calc(var(--space) * 1.5) !important;
  }
  .\#p-t-6,
  .\#p-y-6 {
    padding-top: calc(var(--space) * 1.5) !important;
  }
  .\#p-7 {
    padding: calc(var(--space) * 1.75) !important;
  }
  .\#p-b-7,
  .\#p-y-7 {
    padding-bottom: calc(var(--space) * 1.75) !important;
  }
  .\#p-l-7,
  .\#p-x-7 {
    padding-left: calc(var(--space) * 1.75) !important;
  }
  .\#p-r-7,
  .\#p-x-7 {
    padding-right: calc(var(--space) * 1.75) !important;
  }
  .\#p-t-7,
  .\#p-y-7 {
    padding-top: calc(var(--space) * 1.75) !important;
  }
  .\#p-8 {
    padding: calc(var(--space) * 2) !important;
  }
  .\#p-b-8,
  .\#p-y-8 {
    padding-bottom: calc(var(--space) * 2) !important;
  }
  .\#p-l-8,
  .\#p-x-8 {
    padding-left: calc(var(--space) * 2) !important;
  }
  .\#p-r-8,
  .\#p-x-8 {
    padding-right: calc(var(--space) * 2) !important;
  }
  .\#p-t-8,
  .\#p-y-8 {
    padding-top: calc(var(--space) * 2) !important;
  }
  .\#p-16 {
    padding: calc(var(--space) * 4) !important;
  }
  .\#p-b-16,
  .\#p-y-16 {
    padding-bottom: calc(var(--space) * 4) !important;
  }
  .\#p-l-16,
  .\#p-x-16 {
    padding-left: calc(var(--space) * 4) !important;
  }
  .\#p-r-16,
  .\#p-x-16 {
    padding-right: calc(var(--space) * 4) !important;
  }
  .\#p-t-16,
  .\#p-y-16 {
    padding-top: calc(var(--space) * 4) !important;
  }
  .\#m-\!1 {
    margin: calc(calc(var(--space) * 0.25) * -1) !important;
  }
  .\#m-b-\!1,
  .\#m-y-\!1 {
    margin-bottom: calc(calc(var(--space) * 0.25) * -1) !important;
  }
  .\#m-l-\!1,
  .\#m-x-\!1 {
    margin-left: calc(calc(var(--space) * 0.25) * -1) !important;
  }
  .\#m-r-\!1,
  .\#m-x-\!1 {
    margin-right: calc(calc(var(--space) * 0.25) * -1) !important;
  }
  .\#m-t-\!1,
  .\#m-y-\!1 {
    margin-top: calc(calc(var(--space) * 0.25) * -1) !important;
  }
  .\#m-\!2 {
    margin: calc(calc(var(--space) * 0.5) * -1) !important;
  }
  .\#m-b-\!2,
  .\#m-y-\!2 {
    margin-bottom: calc(calc(var(--space) * 0.5) * -1) !important;
  }
  .\#m-l-\!2,
  .\#m-x-\!2 {
    margin-left: calc(calc(var(--space) * 0.5) * -1) !important;
  }
  .\#m-r-\!2,
  .\#m-x-\!2 {
    margin-right: calc(calc(var(--space) * 0.5) * -1) !important;
  }
  .\#m-t-\!2,
  .\#m-y-\!2 {
    margin-top: calc(calc(var(--space) * 0.5) * -1) !important;
  }
  .\#m-\!3 {
    margin: calc(calc(var(--space) * 0.75) * -1) !important;
  }
  .\#m-b-\!3,
  .\#m-y-\!3 {
    margin-bottom: calc(calc(var(--space) * 0.75) * -1) !important;
  }
  .\#m-l-\!3,
  .\#m-x-\!3 {
    margin-left: calc(calc(var(--space) * 0.75) * -1) !important;
  }
  .\#m-r-\!3,
  .\#m-x-\!3 {
    margin-right: calc(calc(var(--space) * 0.75) * -1) !important;
  }
  .\#m-t-\!3,
  .\#m-y-\!3 {
    margin-top: calc(calc(var(--space) * 0.75) * -1) !important;
  }
  .\#m-\!4 {
    margin: calc(calc(var(--space) * 1) * -1) !important;
  }
  .\#m-b-\!4,
  .\#m-y-\!4 {
    margin-bottom: calc(calc(var(--space) * 1) * -1) !important;
  }
  .\#m-l-\!4,
  .\#m-x-\!4 {
    margin-left: calc(calc(var(--space) * 1) * -1) !important;
  }
  .\#m-r-\!4,
  .\#m-x-\!4 {
    margin-right: calc(calc(var(--space) * 1) * -1) !important;
  }
  .\#m-t-\!4,
  .\#m-y-\!4 {
    margin-top: calc(calc(var(--space) * 1) * -1) !important;
  }
  .\#m-\!5 {
    margin: calc(calc(var(--space) * 1.25) * -1) !important;
  }
  .\#m-b-\!5,
  .\#m-y-\!5 {
    margin-bottom: calc(calc(var(--space) * 1.25) * -1) !important;
  }
  .\#m-l-\!5,
  .\#m-x-\!5 {
    margin-left: calc(calc(var(--space) * 1.25) * -1) !important;
  }
  .\#m-r-\!5,
  .\#m-x-\!5 {
    margin-right: calc(calc(var(--space) * 1.25) * -1) !important;
  }
  .\#m-t-\!5,
  .\#m-y-\!5 {
    margin-top: calc(calc(var(--space) * 1.25) * -1) !important;
  }
  .\#m-\!6 {
    margin: calc(calc(var(--space) * 1.5) * -1) !important;
  }
  .\#m-b-\!6,
  .\#m-y-\!6 {
    margin-bottom: calc(calc(var(--space) * 1.5) * -1) !important;
  }
  .\#m-l-\!6,
  .\#m-x-\!6 {
    margin-left: calc(calc(var(--space) * 1.5) * -1) !important;
  }
  .\#m-r-\!6,
  .\#m-x-\!6 {
    margin-right: calc(calc(var(--space) * 1.5) * -1) !important;
  }
  .\#m-t-\!6,
  .\#m-y-\!6 {
    margin-top: calc(calc(var(--space) * 1.5) * -1) !important;
  }
  .\#m-\!7 {
    margin: calc(calc(var(--space) * 1.75) * -1) !important;
  }
  .\#m-b-\!7,
  .\#m-y-\!7 {
    margin-bottom: calc(calc(var(--space) * 1.75) * -1) !important;
  }
  .\#m-l-\!7,
  .\#m-x-\!7 {
    margin-left: calc(calc(var(--space) * 1.75) * -1) !important;
  }
  .\#m-r-\!7,
  .\#m-x-\!7 {
    margin-right: calc(calc(var(--space) * 1.75) * -1) !important;
  }
  .\#m-t-\!7,
  .\#m-y-\!7 {
    margin-top: calc(calc(var(--space) * 1.75) * -1) !important;
  }
  .\#m-\!8 {
    margin: calc(calc(var(--space) * 2) * -1) !important;
  }
  .\#m-b-\!8,
  .\#m-y-\!8 {
    margin-bottom: calc(calc(var(--space) * 2) * -1) !important;
  }
  .\#m-l-\!8,
  .\#m-x-\!8 {
    margin-left: calc(calc(var(--space) * 2) * -1) !important;
  }
  .\#m-r-\!8,
  .\#m-x-\!8 {
    margin-right: calc(calc(var(--space) * 2) * -1) !important;
  }
  .\#m-t-\!8,
  .\#m-y-\!8 {
    margin-top: calc(calc(var(--space) * 2) * -1) !important;
  }
  .\#m-\!16 {
    margin: calc(calc(var(--space) * 4) * -1) !important;
  }
  .\#m-b-\!16,
  .\#m-y-\!16 {
    margin-bottom: calc(calc(var(--space) * 4) * -1) !important;
  }
  .\#m-l-\!16,
  .\#m-x-\!16 {
    margin-left: calc(calc(var(--space) * 4) * -1) !important;
  }
  .\#m-r-\!16,
  .\#m-x-\!16 {
    margin-right: calc(calc(var(--space) * 4) * -1) !important;
  }
  .\#m-t-\!16,
  .\#m-y-\!16 {
    margin-top: calc(calc(var(--space) * 4) * -1) !important;
  }
  .\#m-\# {
    margin: auto !important;
  }
  .\#m-b-\#,
  .\#m-y-\# {
    margin-bottom: auto !important;
  }
  .\#m-l-\#,
  .\#m-x-\# {
    margin-left: auto !important;
  }
  .\#m-r-\#,
  .\#m-x-\# {
    margin-right: auto !important;
  }
  .\#m-t-\#,
  .\#m-y-\# {
    margin-top: auto !important;
  }
}
@media (min-width: 64rem) {
  .\#\#m-0 {
    margin: 0 !important;
  }
  .\#\#m-b-0,
  .\#\#m-y-0 {
    margin-bottom: 0 !important;
  }
  .\#\#m-l-0,
  .\#\#m-x-0 {
    margin-left: 0 !important;
  }
  .\#\#m-r-0,
  .\#\#m-x-0 {
    margin-right: 0 !important;
  }
  .\#\#m-t-0,
  .\#\#m-y-0 {
    margin-top: 0 !important;
  }
  .\#\#m-1 {
    margin: calc(var(--space) * 0.25) !important;
  }
  .\#\#m-b-1,
  .\#\#m-y-1 {
    margin-bottom: calc(var(--space) * 0.25) !important;
  }
  .\#\#m-l-1,
  .\#\#m-x-1 {
    margin-left: calc(var(--space) * 0.25) !important;
  }
  .\#\#m-r-1,
  .\#\#m-x-1 {
    margin-right: calc(var(--space) * 0.25) !important;
  }
  .\#\#m-t-1,
  .\#\#m-y-1 {
    margin-top: calc(var(--space) * 0.25) !important;
  }
  .\#\#m-2 {
    margin: calc(var(--space) * 0.5) !important;
  }
  .\#\#m-b-2,
  .\#\#m-y-2 {
    margin-bottom: calc(var(--space) * 0.5) !important;
  }
  .\#\#m-l-2,
  .\#\#m-x-2 {
    margin-left: calc(var(--space) * 0.5) !important;
  }
  .\#\#m-r-2,
  .\#\#m-x-2 {
    margin-right: calc(var(--space) * 0.5) !important;
  }
  .\#\#m-t-2,
  .\#\#m-y-2 {
    margin-top: calc(var(--space) * 0.5) !important;
  }
  .\#\#m-3 {
    margin: calc(var(--space) * 0.75) !important;
  }
  .\#\#m-b-3,
  .\#\#m-y-3 {
    margin-bottom: calc(var(--space) * 0.75) !important;
  }
  .\#\#m-l-3,
  .\#\#m-x-3 {
    margin-left: calc(var(--space) * 0.75) !important;
  }
  .\#\#m-r-3,
  .\#\#m-x-3 {
    margin-right: calc(var(--space) * 0.75) !important;
  }
  .\#\#m-t-3,
  .\#\#m-y-3 {
    margin-top: calc(var(--space) * 0.75) !important;
  }
  .\#\#m-4 {
    margin: calc(var(--space) * 1) !important;
  }
  .\#\#m-b-4,
  .\#\#m-y-4 {
    margin-bottom: calc(var(--space) * 1) !important;
  }
  .\#\#m-l-4,
  .\#\#m-x-4 {
    margin-left: calc(var(--space) * 1) !important;
  }
  .\#\#m-r-4,
  .\#\#m-x-4 {
    margin-right: calc(var(--space) * 1) !important;
  }
  .\#\#m-t-4,
  .\#\#m-y-4 {
    margin-top: calc(var(--space) * 1) !important;
  }
  .\#\#m-5 {
    margin: calc(var(--space) * 1.25) !important;
  }
  .\#\#m-b-5,
  .\#\#m-y-5 {
    margin-bottom: calc(var(--space) * 1.25) !important;
  }
  .\#\#m-l-5,
  .\#\#m-x-5 {
    margin-left: calc(var(--space) * 1.25) !important;
  }
  .\#\#m-r-5,
  .\#\#m-x-5 {
    margin-right: calc(var(--space) * 1.25) !important;
  }
  .\#\#m-t-5,
  .\#\#m-y-5 {
    margin-top: calc(var(--space) * 1.25) !important;
  }
  .\#\#m-6 {
    margin: calc(var(--space) * 1.5) !important;
  }
  .\#\#m-b-6,
  .\#\#m-y-6 {
    margin-bottom: calc(var(--space) * 1.5) !important;
  }
  .\#\#m-l-6,
  .\#\#m-x-6 {
    margin-left: calc(var(--space) * 1.5) !important;
  }
  .\#\#m-r-6,
  .\#\#m-x-6 {
    margin-right: calc(var(--space) * 1.5) !important;
  }
  .\#\#m-t-6,
  .\#\#m-y-6 {
    margin-top: calc(var(--space) * 1.5) !important;
  }
  .\#\#m-7 {
    margin: calc(var(--space) * 1.75) !important;
  }
  .\#\#m-b-7,
  .\#\#m-y-7 {
    margin-bottom: calc(var(--space) * 1.75) !important;
  }
  .\#\#m-l-7,
  .\#\#m-x-7 {
    margin-left: calc(var(--space) * 1.75) !important;
  }
  .\#\#m-r-7,
  .\#\#m-x-7 {
    margin-right: calc(var(--space) * 1.75) !important;
  }
  .\#\#m-t-7,
  .\#\#m-y-7 {
    margin-top: calc(var(--space) * 1.75) !important;
  }
  .\#\#m-8 {
    margin: calc(var(--space) * 2) !important;
  }
  .\#\#m-b-8,
  .\#\#m-y-8 {
    margin-bottom: calc(var(--space) * 2) !important;
  }
  .\#\#m-l-8,
  .\#\#m-x-8 {
    margin-left: calc(var(--space) * 2) !important;
  }
  .\#\#m-r-8,
  .\#\#m-x-8 {
    margin-right: calc(var(--space) * 2) !important;
  }
  .\#\#m-t-8,
  .\#\#m-y-8 {
    margin-top: calc(var(--space) * 2) !important;
  }
  .\#\#m-16 {
    margin: calc(var(--space) * 4) !important;
  }
  .\#\#m-b-16,
  .\#\#m-y-16 {
    margin-bottom: calc(var(--space) * 4) !important;
  }
  .\#\#m-l-16,
  .\#\#m-x-16 {
    margin-left: calc(var(--space) * 4) !important;
  }
  .\#\#m-r-16,
  .\#\#m-x-16 {
    margin-right: calc(var(--space) * 4) !important;
  }
  .\#\#m-t-16,
  .\#\#m-y-16 {
    margin-top: calc(var(--space) * 4) !important;
  }
  .\#\#p-0 {
    padding: 0 !important;
  }
  .\#\#p-b-0,
  .\#\#p-y-0 {
    padding-bottom: 0 !important;
  }
  .\#\#p-l-0,
  .\#\#p-x-0 {
    padding-left: 0 !important;
  }
  .\#\#p-r-0,
  .\#\#p-x-0 {
    padding-right: 0 !important;
  }
  .\#\#p-t-0,
  .\#\#p-y-0 {
    padding-top: 0 !important;
  }
  .\#\#p-1 {
    padding: calc(var(--space) * 0.25) !important;
  }
  .\#\#p-b-1,
  .\#\#p-y-1 {
    padding-bottom: calc(var(--space) * 0.25) !important;
  }
  .\#\#p-l-1,
  .\#\#p-x-1 {
    padding-left: calc(var(--space) * 0.25) !important;
  }
  .\#\#p-r-1,
  .\#\#p-x-1 {
    padding-right: calc(var(--space) * 0.25) !important;
  }
  .\#\#p-t-1,
  .\#\#p-y-1 {
    padding-top: calc(var(--space) * 0.25) !important;
  }
  .\#\#p-2 {
    padding: calc(var(--space) * 0.5) !important;
  }
  .\#\#p-b-2,
  .\#\#p-y-2 {
    padding-bottom: calc(var(--space) * 0.5) !important;
  }
  .\#\#p-l-2,
  .\#\#p-x-2 {
    padding-left: calc(var(--space) * 0.5) !important;
  }
  .\#\#p-r-2,
  .\#\#p-x-2 {
    padding-right: calc(var(--space) * 0.5) !important;
  }
  .\#\#p-t-2,
  .\#\#p-y-2 {
    padding-top: calc(var(--space) * 0.5) !important;
  }
  .\#\#p-3 {
    padding: calc(var(--space) * 0.75) !important;
  }
  .\#\#p-b-3,
  .\#\#p-y-3 {
    padding-bottom: calc(var(--space) * 0.75) !important;
  }
  .\#\#p-l-3,
  .\#\#p-x-3 {
    padding-left: calc(var(--space) * 0.75) !important;
  }
  .\#\#p-r-3,
  .\#\#p-x-3 {
    padding-right: calc(var(--space) * 0.75) !important;
  }
  .\#\#p-t-3,
  .\#\#p-y-3 {
    padding-top: calc(var(--space) * 0.75) !important;
  }
  .\#\#p-4 {
    padding: calc(var(--space) * 1) !important;
  }
  .\#\#p-b-4,
  .\#\#p-y-4 {
    padding-bottom: calc(var(--space) * 1) !important;
  }
  .\#\#p-l-4,
  .\#\#p-x-4 {
    padding-left: calc(var(--space) * 1) !important;
  }
  .\#\#p-r-4,
  .\#\#p-x-4 {
    padding-right: calc(var(--space) * 1) !important;
  }
  .\#\#p-t-4,
  .\#\#p-y-4 {
    padding-top: calc(var(--space) * 1) !important;
  }
  .\#\#p-5 {
    padding: calc(var(--space) * 1.25) !important;
  }
  .\#\#p-b-5,
  .\#\#p-y-5 {
    padding-bottom: calc(var(--space) * 1.25) !important;
  }
  .\#\#p-l-5,
  .\#\#p-x-5 {
    padding-left: calc(var(--space) * 1.25) !important;
  }
  .\#\#p-r-5,
  .\#\#p-x-5 {
    padding-right: calc(var(--space) * 1.25) !important;
  }
  .\#\#p-t-5,
  .\#\#p-y-5 {
    padding-top: calc(var(--space) * 1.25) !important;
  }
  .\#\#p-6 {
    padding: calc(var(--space) * 1.5) !important;
  }
  .\#\#p-b-6,
  .\#\#p-y-6 {
    padding-bottom: calc(var(--space) * 1.5) !important;
  }
  .\#\#p-l-6,
  .\#\#p-x-6 {
    padding-left: calc(var(--space) * 1.5) !important;
  }
  .\#\#p-r-6,
  .\#\#p-x-6 {
    padding-right: calc(var(--space) * 1.5) !important;
  }
  .\#\#p-t-6,
  .\#\#p-y-6 {
    padding-top: calc(var(--space) * 1.5) !important;
  }
  .\#\#p-7 {
    padding: calc(var(--space) * 1.75) !important;
  }
  .\#\#p-b-7,
  .\#\#p-y-7 {
    padding-bottom: calc(var(--space) * 1.75) !important;
  }
  .\#\#p-l-7,
  .\#\#p-x-7 {
    padding-left: calc(var(--space) * 1.75) !important;
  }
  .\#\#p-r-7,
  .\#\#p-x-7 {
    padding-right: calc(var(--space) * 1.75) !important;
  }
  .\#\#p-t-7,
  .\#\#p-y-7 {
    padding-top: calc(var(--space) * 1.75) !important;
  }
  .\#\#p-8 {
    padding: calc(var(--space) * 2) !important;
  }
  .\#\#p-b-8,
  .\#\#p-y-8 {
    padding-bottom: calc(var(--space) * 2) !important;
  }
  .\#\#p-l-8,
  .\#\#p-x-8 {
    padding-left: calc(var(--space) * 2) !important;
  }
  .\#\#p-r-8,
  .\#\#p-x-8 {
    padding-right: calc(var(--space) * 2) !important;
  }
  .\#\#p-t-8,
  .\#\#p-y-8 {
    padding-top: calc(var(--space) * 2) !important;
  }
  .\#\#p-16 {
    padding: calc(var(--space) * 4) !important;
  }
  .\#\#p-b-16,
  .\#\#p-y-16 {
    padding-bottom: calc(var(--space) * 4) !important;
  }
  .\#\#p-l-16,
  .\#\#p-x-16 {
    padding-left: calc(var(--space) * 4) !important;
  }
  .\#\#p-r-16,
  .\#\#p-x-16 {
    padding-right: calc(var(--space) * 4) !important;
  }
  .\#\#p-t-16,
  .\#\#p-y-16 {
    padding-top: calc(var(--space) * 4) !important;
  }
  .\#\#m-\!1 {
    margin: calc(calc(var(--space) * 0.25) * -1) !important;
  }
  .\#\#m-b-\!1,
  .\#\#m-y-\!1 {
    margin-bottom: calc(calc(var(--space) * 0.25) * -1) !important;
  }
  .\#\#m-l-\!1,
  .\#\#m-x-\!1 {
    margin-left: calc(calc(var(--space) * 0.25) * -1) !important;
  }
  .\#\#m-r-\!1,
  .\#\#m-x-\!1 {
    margin-right: calc(calc(var(--space) * 0.25) * -1) !important;
  }
  .\#\#m-t-\!1,
  .\#\#m-y-\!1 {
    margin-top: calc(calc(var(--space) * 0.25) * -1) !important;
  }
  .\#\#m-\!2 {
    margin: calc(calc(var(--space) * 0.5) * -1) !important;
  }
  .\#\#m-b-\!2,
  .\#\#m-y-\!2 {
    margin-bottom: calc(calc(var(--space) * 0.5) * -1) !important;
  }
  .\#\#m-l-\!2,
  .\#\#m-x-\!2 {
    margin-left: calc(calc(var(--space) * 0.5) * -1) !important;
  }
  .\#\#m-r-\!2,
  .\#\#m-x-\!2 {
    margin-right: calc(calc(var(--space) * 0.5) * -1) !important;
  }
  .\#\#m-t-\!2,
  .\#\#m-y-\!2 {
    margin-top: calc(calc(var(--space) * 0.5) * -1) !important;
  }
  .\#\#m-\!3 {
    margin: calc(calc(var(--space) * 0.75) * -1) !important;
  }
  .\#\#m-b-\!3,
  .\#\#m-y-\!3 {
    margin-bottom: calc(calc(var(--space) * 0.75) * -1) !important;
  }
  .\#\#m-l-\!3,
  .\#\#m-x-\!3 {
    margin-left: calc(calc(var(--space) * 0.75) * -1) !important;
  }
  .\#\#m-r-\!3,
  .\#\#m-x-\!3 {
    margin-right: calc(calc(var(--space) * 0.75) * -1) !important;
  }
  .\#\#m-t-\!3,
  .\#\#m-y-\!3 {
    margin-top: calc(calc(var(--space) * 0.75) * -1) !important;
  }
  .\#\#m-\!4 {
    margin: calc(calc(var(--space) * 1) * -1) !important;
  }
  .\#\#m-b-\!4,
  .\#\#m-y-\!4 {
    margin-bottom: calc(calc(var(--space) * 1) * -1) !important;
  }
  .\#\#m-l-\!4,
  .\#\#m-x-\!4 {
    margin-left: calc(calc(var(--space) * 1) * -1) !important;
  }
  .\#\#m-r-\!4,
  .\#\#m-x-\!4 {
    margin-right: calc(calc(var(--space) * 1) * -1) !important;
  }
  .\#\#m-t-\!4,
  .\#\#m-y-\!4 {
    margin-top: calc(calc(var(--space) * 1) * -1) !important;
  }
  .\#\#m-\!5 {
    margin: calc(calc(var(--space) * 1.25) * -1) !important;
  }
  .\#\#m-b-\!5,
  .\#\#m-y-\!5 {
    margin-bottom: calc(calc(var(--space) * 1.25) * -1) !important;
  }
  .\#\#m-l-\!5,
  .\#\#m-x-\!5 {
    margin-left: calc(calc(var(--space) * 1.25) * -1) !important;
  }
  .\#\#m-r-\!5,
  .\#\#m-x-\!5 {
    margin-right: calc(calc(var(--space) * 1.25) * -1) !important;
  }
  .\#\#m-t-\!5,
  .\#\#m-y-\!5 {
    margin-top: calc(calc(var(--space) * 1.25) * -1) !important;
  }
  .\#\#m-\!6 {
    margin: calc(calc(var(--space) * 1.5) * -1) !important;
  }
  .\#\#m-b-\!6,
  .\#\#m-y-\!6 {
    margin-bottom: calc(calc(var(--space) * 1.5) * -1) !important;
  }
  .\#\#m-l-\!6,
  .\#\#m-x-\!6 {
    margin-left: calc(calc(var(--space) * 1.5) * -1) !important;
  }
  .\#\#m-r-\!6,
  .\#\#m-x-\!6 {
    margin-right: calc(calc(var(--space) * 1.5) * -1) !important;
  }
  .\#\#m-t-\!6,
  .\#\#m-y-\!6 {
    margin-top: calc(calc(var(--space) * 1.5) * -1) !important;
  }
  .\#\#m-\!7 {
    margin: calc(calc(var(--space) * 1.75) * -1) !important;
  }
  .\#\#m-b-\!7,
  .\#\#m-y-\!7 {
    margin-bottom: calc(calc(var(--space) * 1.75) * -1) !important;
  }
  .\#\#m-l-\!7,
  .\#\#m-x-\!7 {
    margin-left: calc(calc(var(--space) * 1.75) * -1) !important;
  }
  .\#\#m-r-\!7,
  .\#\#m-x-\!7 {
    margin-right: calc(calc(var(--space) * 1.75) * -1) !important;
  }
  .\#\#m-t-\!7,
  .\#\#m-y-\!7 {
    margin-top: calc(calc(var(--space) * 1.75) * -1) !important;
  }
  .\#\#m-\!8 {
    margin: calc(calc(var(--space) * 2) * -1) !important;
  }
  .\#\#m-b-\!8,
  .\#\#m-y-\!8 {
    margin-bottom: calc(calc(var(--space) * 2) * -1) !important;
  }
  .\#\#m-l-\!8,
  .\#\#m-x-\!8 {
    margin-left: calc(calc(var(--space) * 2) * -1) !important;
  }
  .\#\#m-r-\!8,
  .\#\#m-x-\!8 {
    margin-right: calc(calc(var(--space) * 2) * -1) !important;
  }
  .\#\#m-t-\!8,
  .\#\#m-y-\!8 {
    margin-top: calc(calc(var(--space) * 2) * -1) !important;
  }
  .\#\#m-\!16 {
    margin: calc(calc(var(--space) * 4) * -1) !important;
  }
  .\#\#m-b-\!16,
  .\#\#m-y-\!16 {
    margin-bottom: calc(calc(var(--space) * 4) * -1) !important;
  }
  .\#\#m-l-\!16,
  .\#\#m-x-\!16 {
    margin-left: calc(calc(var(--space) * 4) * -1) !important;
  }
  .\#\#m-r-\!16,
  .\#\#m-x-\!16 {
    margin-right: calc(calc(var(--space) * 4) * -1) !important;
  }
  .\#\#m-t-\!16,
  .\#\#m-y-\!16 {
    margin-top: calc(calc(var(--space) * 4) * -1) !important;
  }
  .\#\#m-\# {
    margin: auto !important;
  }
  .\#\#m-b-\#,
  .\#\#m-y-\# {
    margin-bottom: auto !important;
  }
  .\#\#m-l-\#,
  .\#\#m-x-\# {
    margin-left: auto !important;
  }
  .\#\#m-r-\#,
  .\#\#m-x-\# {
    margin-right: auto !important;
  }
  .\#\#m-t-\#,
  .\#\#m-y-\# {
    margin-top: auto !important;
  }
}
a {
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}
.text_size_1,
.text_size_2,
.text_size_3,
.text_size_4,
.text_size_5,
.text_size_6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading--font-family);
  font-weight: var(--heading--font-weight);
  line-height: var(--heading--line-height);
  margin-bottom: 0;
  margin-top: 0;
}
.text_size_1,
h1 {
  font-size: var(--h1--font-size);
}
.text_size_2,
h2 {
  font-size: var(--h2--font-size);
}
.text_size_3,
h3 {
  font-size: var(--h3--font-size);
}
.text_size_4,
h4 {
  font-size: var(--h4--font-size);
}
.text_size_5,
h5 {
  font-size: var(--h5--font-size);
}
.text_size_6,
h6 {
  font-size: var(--h6--font-size);
}
p {
  margin-bottom: 0;
  margin-top: 0;
}
.text_alignment_\# {
  text-align: center !important;
}
.text_alignment_l {
  text-align: left !important;
}
.text_alignment_r {
  text-align: right !important;
}
@media (min-width: 40rem) {
  .\#text_alignment_\# {
    text-align: center !important;
  }
  .\#text_alignment_l {
    text-align: left !important;
  }
  .\#text_alignment_r {
    text-align: right !important;
  }
}
@media (min-width: 64rem) {
  .\#\#text_alignment_\# {
    text-align: center !important;
  }
  .\#\#text_alignment_l {
    text-align: left !important;
  }
  .\#\#text_alignment_r {
    text-align: right !important;
  }
}
.text_weight_100 {
  font-weight: 100 !important;
}
.text_weight_200 {
  font-weight: 200 !important;
}
.text_weight_300 {
  font-weight: 300 !important;
}
.text_weight_400 {
  font-weight: 400 !important;
}
.text_weight_500 {
  font-weight: 500 !important;
}
.text_weight_600 {
  font-weight: 600 !important;
}
.text_weight_700 {
  font-weight: 700 !important;
}
.text_weight_800 {
  font-weight: 800 !important;
}
.text_weight_900 {
  font-weight: 900 !important;
}
