.container {
  width: 100% !important;
}
@media (min-width: 40rem) {
  .container {
    max-width: 40rem !important;
  }
}
@media (min-width: 48rem) {
  .container {
    max-width: 48rem !important;
  }
}
@media (min-width: 64rem) {
  .container {
    max-width: 64rem !important;
  }
}