.align-items-baseline {
  align-items: baseline !important;
}
.align-items-normal {
  align-items: normal !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: end !important;
}
.align-items-flex-end {
  align-items: flex-end !important;
}
.align-items-flex-start {
  align-items: flex-start !important;
}
.align-items-self-end {
  align-items: self-end !important;
}
.align-items-self-start {
  align-items: self-start !important;
}
.align-items-start {
  align-items: start !important;
}
@media (min-width: 40rem) {
  .\#align-items-baseline {
    align-items: baseline !important;
  }
  .\#align-items-normal {
    align-items: normal !important;
  }
  .\#align-items-stretch {
    align-items: stretch !important;
  }
  .\#align-items-center {
    align-items: center !important;
  }
  .\#align-items-end {
    align-items: end !important;
  }
  .\#align-items-flex-end {
    align-items: flex-end !important;
  }
  .\#align-items-flex-start {
    align-items: flex-start !important;
  }
  .\#align-items-self-end {
    align-items: self-end !important;
  }
  .\#align-items-self-start {
    align-items: self-start !important;
  }
  .\#align-items-start {
    align-items: start !important;
  }
}
@media (min-width: 48rem) {
  .\#\#align-items-baseline {
    align-items: baseline !important;
  }
  .\#\#align-items-normal {
    align-items: normal !important;
  }
  .\#\#align-items-stretch {
    align-items: stretch !important;
  }
  .\#\#align-items-center {
    align-items: center !important;
  }
  .\#\#align-items-end {
    align-items: end !important;
  }
  .\#\#align-items-flex-end {
    align-items: flex-end !important;
  }
  .\#\#align-items-flex-start {
    align-items: flex-start !important;
  }
  .\#\#align-items-self-end {
    align-items: self-end !important;
  }
  .\#\#align-items-self-start {
    align-items: self-start !important;
  }
  .\#\#align-items-start {
    align-items: start !important;
  }
}
@media (min-width: 64rem) {
  .\#\#\#align-items-baseline {
    align-items: baseline !important;
  }
  .\#\#\#align-items-normal {
    align-items: normal !important;
  }
  .\#\#\#align-items-stretch {
    align-items: stretch !important;
  }
  .\#\#\#align-items-center {
    align-items: center !important;
  }
  .\#\#\#align-items-end {
    align-items: end !important;
  }
  .\#\#\#align-items-flex-end {
    align-items: flex-end !important;
  }
  .\#\#\#align-items-flex-start {
    align-items: flex-start !important;
  }
  .\#\#\#align-items-self-end {
    align-items: self-end !important;
  }
  .\#\#\#align-items-self-start {
    align-items: self-start !important;
  }
  .\#\#\#align-items-start {
    align-items: start !important;
  }
}
