.flex-wrap-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap-wrap {
  flex-wrap: wrap !important;
}
.flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
@media (min-width: 40rem) {
  .\#flex-wrap-nowrap {
    flex-wrap: nowrap !important;
  }
  .\#flex-wrap-wrap {
    flex-wrap: wrap !important;
  }
  .\#flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
}
@media (min-width: 48rem) {
  .\#\#flex-wrap-nowrap {
    flex-wrap: nowrap !important;
  }
  .\#\#flex-wrap-wrap {
    flex-wrap: wrap !important;
  }
  .\#\#flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
}
@media (min-width: 64rem) {
  .\#\#\#flex-wrap-nowrap {
    flex-wrap: nowrap !important;
  }
  .\#\#\#flex-wrap-wrap {
    flex-wrap: wrap !important;
  }
  .\#\#\#flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
}
