.align-self-auto {
  align-self: auto !important;
}
.align-self-baseline {
  align-self: baseline !important;
}
.align-self-normal {
  align-self: normal !important;
}
.align-self-stretch {
  align-self: stretch !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-end {
  align-self: end !important;
}
.align-self-flex-end {
  align-self: flex-end !important;
}
.align-self-flex-start {
  align-self: flex-start !important;
}
.align-self-self-end {
  align-self: self-end !important;
}
.align-self-self-start {
  align-self: self-start !important;
}
.align-self-start {
  align-self: start !important;
}
@media (min-width: 40rem) {
  .\#align-self-auto {
    align-self: auto !important;
  }
  .\#align-self-baseline {
    align-self: baseline !important;
  }
  .\#align-self-normal {
    align-self: normal !important;
  }
  .\#align-self-stretch {
    align-self: stretch !important;
  }
  .\#align-self-center {
    align-self: center !important;
  }
  .\#align-self-end {
    align-self: end !important;
  }
  .\#align-self-flex-end {
    align-self: flex-end !important;
  }
  .\#align-self-flex-start {
    align-self: flex-start !important;
  }
  .\#align-self-self-end {
    align-self: self-end !important;
  }
  .\#align-self-self-start {
    align-self: self-start !important;
  }
  .\#align-self-start {
    align-self: start !important;
  }
}
@media (min-width: 48rem) {
  .\#\#align-self-auto {
    align-self: auto !important;
  }
  .\#\#align-self-baseline {
    align-self: baseline !important;
  }
  .\#\#align-self-normal {
    align-self: normal !important;
  }
  .\#\#align-self-stretch {
    align-self: stretch !important;
  }
  .\#\#align-self-center {
    align-self: center !important;
  }
  .\#\#align-self-end {
    align-self: end !important;
  }
  .\#\#align-self-flex-end {
    align-self: flex-end !important;
  }
  .\#\#align-self-flex-start {
    align-self: flex-start !important;
  }
  .\#\#align-self-self-end {
    align-self: self-end !important;
  }
  .\#\#align-self-self-start {
    align-self: self-start !important;
  }
  .\#\#align-self-start {
    align-self: start !important;
  }
}
@media (min-width: 64rem) {
  .\#\#\#align-self-auto {
    align-self: auto !important;
  }
  .\#\#\#align-self-baseline {
    align-self: baseline !important;
  }
  .\#\#\#align-self-normal {
    align-self: normal !important;
  }
  .\#\#\#align-self-stretch {
    align-self: stretch !important;
  }
  .\#\#\#align-self-center {
    align-self: center !important;
  }
  .\#\#\#align-self-end {
    align-self: end !important;
  }
  .\#\#\#align-self-flex-end {
    align-self: flex-end !important;
  }
  .\#\#\#align-self-flex-start {
    align-self: flex-start !important;
  }
  .\#\#\#align-self-self-end {
    align-self: self-end !important;
  }
  .\#\#\#align-self-self-start {
    align-self: self-start !important;
  }
  .\#\#\#align-self-start {
    align-self: start !important;
  }
}