.text-align-center {
  text-align: center !important;
}
.text-align-end {
  text-align: end !important;
}
.text-align-justify {
  text-align: justify !important;
}
.text-align-left {
  text-align: left !important;
}
.text-align-match-parent {
  text-align: match-parent !important;
}
.text-align-right {
  text-align: right !important;
}
.text-align-start {
  text-align: start !important;
}
@media (min-width: 40rem) {
  .\#text-align-center {
    text-align: center !important;
  }
  .\#text-align-end {
    text-align: end !important;
  }
  .\#text-align-justify {
    text-align: justify !important;
  }
  .\#text-align-left {
    text-align: left !important;
  }
  .\#text-align-match-parent {
    text-align: match-parent !important;
  }
  .\#text-align-right {
    text-align: right !important;
  }
  .\#text-align-start {
    text-align: start !important;
  }
}
@media (min-width: 48rem) {
  .\#\#text-align-center {
    text-align: center !important;
  }
  .\#\#text-align-end {
    text-align: end !important;
  }
  .\#\#text-align-justify {
    text-align: justify !important;
  }
  .\#\#text-align-left {
    text-align: left !important;
  }
  .\#\#text-align-match-parent {
    text-align: match-parent !important;
  }
  .\#\#text-align-right {
    text-align: right !important;
  }
  .\#\#text-align-start {
    text-align: start !important;
  }
}
@media (min-width: 64rem) {
  .\#\#\#text-align-center {
    text-align: center !important;
  }
  .\#\#\#text-align-end {
    text-align: end !important;
  }
  .\#\#\#text-align-justify {
    text-align: justify !important;
  }
  .\#\#\#text-align-left {
    text-align: left !important;
  }
  .\#\#\#text-align-match-parent {
    text-align: match-parent !important;
  }
  .\#\#\#text-align-right {
    text-align: right !important;
  }
  .\#\#\#text-align-start {
    text-align: start !important;
  }
}